//@font-face {
//  font-family: 'Roboto-Regular', sans-serif;
//  src: url("../fonts/Roboto-Regular.woff2") format('woff2'),
//    url("../fonts/Roboto-Regular.woff") format('woff');
//  font-weight: 400;
//  font-display: swap;
//}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r5400l');
  src:  url('../fonts/icomoon.eot?r5400l#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?r5400l') format('truetype'),
  url('../fonts/icomoon.woff?r5400l') format('woff'),
  url('../fonts/icomoon.svg?r5400l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-lock:before {
  content: "\f023";
}
.icon-book:before {
  content: "\f02d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-upload:before {
  content: "\f093";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-futbol-o:before {
  content: "\f1e3";
}
.icon-soccer-ball-o:before {
  content: "\f1e3";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
